GITHUB_OWNER=woopi-safehome

POSTGRES_DB=safehome
POSTGRES_USER=safehome
POSTGRES_PASSWORD=your_password_here

POSTGRES_REPLICATION_USER=safehome
POSTGRES_REPLICATION_PASSWORD=your_replication_password_here
