POSTGRES_DB=safehome
POSTGRES_USER=safehome
POSTGRES_PASSWORD=strong_password_here

POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=strong_replication_password_here

BACKUP_RETENTION_DAYS=7
